version: '3.8'

services:
  app:
    build: .
    container_name: designer_app
    networks:
      - internal_network
    environment:
      - NODE_ENV=production

  webserver:
    image: nginx:alpine
    container_name: designer_webserver
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - internal_network

networks:
  internal_network:
    driver: bridge
